---
import Base from "../layout/base.astro";
import "../style/main.css"
---
<Base title="About Us">

    <div class="flex w-4/5 mx-auto h-90v">
        <div class="my-auto">
            <img src="/images/astronaut.png" alt="">
        </div>

        <p class="grow text-6xl text-white h-min w-min m-auto italic font-extrabold">Two Friends <br> One Dream</p>

        <div class="my-auto">
            <img src="/images/astronaut.png" alt="">
        </div>
    </div>

</Base>

