---
import Base from "../layout/base.astro";
import "../style/main.css"
import OurWorks2 from "../components/OurWorks2.astro";


import OfferCard from "../components/offerCard.astro";
import Prices from "../components/prices.astro";
import HowItWorks from "../components/howItWorks.astro";

---

Z

<Base title="Graphics Development">

    <!-- landing -->
    <div class="relative h-90v flex flex-row items-center justify-center m-auto w-4/5 hero">

      
		<div class="w-1/2 text-white z-10 opacity-100 flex flex-col justify-center relative">
			<p class="h-min font-extrabold italic text-6xl pb-5">
                <span class="word">Explore</span> 
                <span class="word">Limitless</span> 
                <span class="word">Horizons</span> 
                <span class="word">with</span>
                <span class="word">Our</span> <br>
                <span class="word">Cosmic</span>
                <span class="word">Creations</span>
                
            </p>

			<div class="flex h-min w-max">
				<div class="heroBtn">
                    <button class="btn font-semibold tracking-wider burningBtn  mr-5">Pricing</button>
                </div>

				<div class="heroBtn">
                    <button class="btn font-semibold tracking-wider border-2 border-amber-600">Features</button>
                </div>
			</div>


		</div>
        
        
        <div class="w-full md:w-1/2 relative">
            <img class="w-2/3 m-auto relative" src="/images/waving.png" alt="" id='ast'>
            <div class="absolute top-0 w-28 z-10" id="brush-cont">
                <img src="/images/brush.png" alt="" class=" relative top-0 " id="brush">
            </div>
            <div class="absolute bottom-0 right-0 w-28 z-10" id="pallete-cont">
                <img src="/images/pallete.png" alt="" class=" relative top-0 " id="pallete">
            </div>
	    </div>
        
        
    </div>

<!-- services -->
    <p class="text-white text-5xl text-center font-extrabold mb-16" id="services">
        What We Have to Offer
    </p>

    <div class="grid h-30vw w-5/6 md:w-4/5 relative grid-cols-1 md:grid-cols-3 mx-auto gap-10 services-cont mb-28">

        <div class="w-6/12 absolute top-2/5 -left-1/3 z-0 blur-sm">
			<img src="/images/planet1.png" alt="" class="w-full relative glow1" id="orange-planet">
		</div>
		
        <OfferCard
            name="Logo"
            svg="/images/svg/write.svg"
            desc="Unleash the power of WordPress for your online presence! Our expert team specializes in crafting stunning, feature-rich WordPress websites"
        />

        <OfferCard
            name="Bill Boards"
            svg="/images/svg/calendar.svg"
            desc="Ensure top-notch security with SSL certificates and user authentication on your website with our robust solutions. Safeguard sensitive data and protect user accounts from unauthorized access. "
        />
       
        <OfferCard
            name="Social Media"
            svg="/images/svg/share.svg"
            desc="Unlock the power of streamlined performance with our cutting-edge database and hosting solutions. Seamlessly store and retrieve data, ensuring lightning-fast access to vital information."
        />

        <OfferCard
            name="International Marketing"
            svg="/images/svg/globe.svg"
            desc="Step into the world of e-commerce success with our comprehensive solutions. Our expert team will help you build a powerful online store that drives sales and maximizes revenue."
        />
        <OfferCard
            name="Custom Solution"
            svg="/images/svg/custom.svg"
            desc="Experience the ultimate in website customization with our bespoke solutions. Our dedicated team will work closely with you to understand your unique requirements and bring your vision to life"
        />
        

         <OfferCard
            name="Business Cards"
            svg="/images/svg/case.svg"
            desc="Experience the speed and responsiveness you've been waiting for! Our websites are optimized for lightning-fast performance, ensuring swift loading times and seamless user interactions for any device"
        />
    </div>

    <div class="relative mb-40">
        <div class="w-4/12 absolute -top-20 -right-16 z-0 blur-sm ">
			<img src="/images/planet2.png" alt="" class="w-full z-0 relative glow2" id="blue-planet">
		</div>
        <p class="text-white text-5xl text-center font-extrabold mb-16">
            Our Prices
        </p>

        <Prices 
            bundle="Space Rocks"
            price="$15"

            Feature1="Single Design"
            Feature2="Custom"
            Feature3="1 Day Delivery"

            Tech1="Canva"
            Tech2="Photoshop"
            Tech3="Gimp"

            Use1="Social Media"
            Use2="Small Business"
            Use3="Event Promos"
        />

        <Prices 
            bundle="Asteroid"
            price="$50"

            Feature1="Max 5 designs"
            Feature2="Custom"
            Feature3="2 Days Delivery"

            Tech1="Canva"
            Tech2="Photoshop"
            Tech3="Gimp"

            Use1="Social Media"
            Use2="Newspaper"
            Use3="TV"
        />

        <Prices 
            bundle="Comet"
            price="$100"

            Feature1="Max 10 Designs"
            Feature2="Logo"
            Feature3="Business Cards"

            Tech1="Canva"
            Tech2="Photoshop"
            Tech3="Gimp"

            Use1="Business Cards"
            Use2="Logo Design"
            Use3="Advertisements"
        />

         <div class="planet w-4/12 absolute -top-20 -right-16 -z-10 blur-sm -rotate-45">
			<img loading="lazy" src="/images/blue-planet.png" alt="" class="w-full z-0 relative opacity-0" id="blue-planet">
		</div>

    </div>

    <p id="" class="text-white text-3xl md:text-5xl text-center font-extrabold mb-10">
        Our Designs
    </p>

    <div class= " w-3/5 mx-auto mb-28">
        <div  role="status" id="daddy" class="flex daddy relative">
            <OurWorks2
                img1="/images/g1.jpg"
                img2="/images/g2.jpg"
            />
            <OurWorks2
                img1="/images/g3.jpg"
                img2="/images/g4.jpg"
            />
            <OurWorks2
                img1="/images/g5.jpg"
                img2="/images/g6.jpg"
            />
            <OurWorks2
                img1="/images/g7.jpg"
                img2="/images/g8.jpg"
            />
            <OurWorks2
                img1="/images/g9.jpg"
                img2="/images/g10.jpg"
            />
            <OurWorks2
                img1="/images/g11.jpg"
                img2="/images/g12.jpg"
            />
            <OurWorks2
                img1="/images/g13.jpg"
                img2="/images/g14.jpg"
            />
            <OurWorks2
                img1="/images/g15.jpg"
                img2="/images/g16.jpg"
            />
        </div>
    </div>
    
    <p class="text-white text-5xl text-center font-extrabold mb-16">
        How it Works
    </p>

    <div class="grid h-30vw w-4/5 relative grid-cols-3 mx-auto gap-20 services-cont">
        <div class="w-5/12 absolute bottom-24 -left-1/4 z-0 blur-sm ">
			<img src="/images/planet3.png" alt="" class="w-full relative glow3" id="red-planet">
		</div>

        <HowItWorks
            number="01"
            name="Planning"
            desc=" During the planning phase, we will understand you goals, requirements, and target audience. This involves conducting research, gathering information, and defining the project scope, objectives, and timelines."
        />
        <HowItWorks
            number="02"
            name="Designing"
            desc=" In the designing phase, we'll focus on creating the visual and functional aspects. We'll work closely with you to develop a captivating and user-friendly design that aligns with the your brand identity"
        />
        <HowItWorks
            number="03"
            name="Payment"
            desc="After the design phase, you will provide a the full payment to finalise the transaction. We will then provide you with the design without the watermark"
        />
    </div>

    <div class="w-4/5 flex mt-10 mb-20 mx-auto">
        <a href="" class="flex items-center ml-auto text-white" >
            <p>
                Learn more
            </p>
            <span class="ml-2">
                <img src="/images/svg/right-arrow.svg" alt="" class="w-6 h-6">
            </span>
        </a>
    </div>

</Base>

<style>

    .glow1{
        -webkit-filter: drop-shadow(0px 0px 50px rgb(240, 130, 9));
        filter: drop-shadow(0px 0px 50px rgb(240, 130, 90));
    }

    .glow2{
        -webkit-filter: drop-shadow(0px 0px 50px rgb(240, 130, 9));
        filter: drop-shadow(0px 0px 50px rgb(80, 80, 190));
    }

    .glow3{
        -webkit-filter: drop-shadow(0px 0px 50px rgb(240, 130, 9));
        filter: drop-shadow(0px 0px 50px rgb(180, 150, 190));
    }

</style>


<style>
    .daddy {
        height: 100%;
        width: fit-content;

    }
</style>

<script>
    import { gsap } from 'gsap';
    import { ScrollTrigger } from 'gsap/ScrollTrigger';
    gsap.registerPlugin(ScrollTrigger)
    const tl = gsap.timeline()

   
    gsap.from(".offer", {scrollTrigger: ".offer", y: 100, opacity:0,  stagger: 0.3 });
    gsap.from(".prices", {scrollTrigger: ".prices", y: 100, opacity:0,  stagger: 0.3 });
    gsap.from(".works", {scrollTrigger: ".works", y: 100, opacity:0,  stagger: 0.3 });

    let sections = gsap.utils.toArray(".panel");
    gsap.to(sections, {
    xPercent: -100 * (sections.length - 0.75),
    ease: "none",
    scrollTrigger: {
        trigger: ".daddy",
        pin: true,
        start: "-50px",
        scrub: 0.5,
        // snap: 1 / (sections.length - 0.75),
        end: () => "+=" + document.getElementById("daddy").offsetWidth
    }
});

    const orangePlanet = document.getElementById('orange-planet')
    const bluePlanet = document.getElementById('blue-planet')
    const redPlanet = document.getElementById('red-planet')
    const ast = document.getElementById("ast")
    // const astDiv = document.getElementById("ast-div")

    const brush = document.getElementById("brush")
     const brushCont = document.getElementById("brush-cont")
     const pallete = document.getElementById("pallete")
     const palleteCont = document.getElementById("pallete-cont")

    window.addEventListener("scroll", function(){

        let value = window.scrollY;
        orangePlanet.style.top = value * 0.15 + "px"
        bluePlanet.style.top = value * 0.15 + "px"
        redPlanet.style.top = value * 0.15 + "px"
             
        
        ast.style.transform = `rotate(${-value * 0.2}deg) `

        brushCont.style.transform = `translateX(${value * 0.6}px`
        brush.style.transform = `rotate(${value * 0.5}deg`

        palleteCont.style.transform = `translate(${-value * 0.6}px, ${-value * 0.2}px`
        pallete.style.transform = `rotate(${-value * 0.2}deg`
   
    })
</script>


