---

import Base from "../layout/base.astro";
import "../style/main.css"

---

<Base title='Home'>


	<div class="bg-procyon-purple relative h-screen grid place-items-center text-center">

		<div class="h-screen absolute top-0">
			<img src="/bg/hero-bg.jpeg" alt="" class="opacity-50 h-full w-screen object-cover">
		</div>

		<div class="h-50v w-min text-white z-10 opacity-100 grid relative">
		
			<p class="h-min m-auto h1 text-6xl">We are <br> designers</p>
			<div class="flex h-min w-max mx-auto">


				<button class="btn">Web Deisgn</button>
				<button class="btn">Graphics</button>

			</div>

			<div class="absolute w-16 h-16 top-2/4 left-full">
		
				<svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute top-1/4 right-0">
					<path class="stroke-white" d="M12 3C12 7.97056 16.0294 12 21 12C16.0294 12 12 16.0294 12 21C12 16.0294 7.97056 12 3 12C7.97056 12 12 7.97056 12 3Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
				
				<svg width="35px" height="35px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path class="stroke-white" d="M12 3C12 7.97056 16.0294 12 21 12C16.0294 12 12 16.0294 12 21C12 16.0294 7.97056 12 3 12C7.97056 12 12 7.97056 12 3Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
				<svg width="27px" height="27px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute bottom-0.5 right-1/4">
					<path class="stroke-white" d="M12 3C12 7.97056 16.0294 12 21 12C16.0294 12 12 16.0294 12 21C12 16.0294 7.97056 12 3 12C7.97056 12 12 7.97056 12 3Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>

		</div>

		</div>

		
	
	</div>


</Base>

