---

import Base from "../layout/base.astro";
import "../style/main.css"

import ServicesCard from "../components/serviceCard.astro";
import ClientTestimonial from "../components/clientTestimonial.astro";
---

<Base title='Home'>


	<!-- landing -->
	<div class="relative h-90v flex flex-row items-center justify-center m-auto w-4/5">

		<div class="h-50v w-1/2 text-white z-10 opacity-100 flex flex-col justify-center relative">
			<p class="h-min font-extrabold italic text-6xl"><span class="word">Unleash</span> <span class="word">Your</span> <br> <span class="word">Digital</span> <span class="word">Potential</span> </p>
			<p class="heroDescription h-min text-2xl my-5">Procyon: your destination for expert website development and stellar graphic design solutions.</p>
			<div class="flex h-min w-max">
				<div class="heroBtn">
                    <button class="btn font-semibold tracking-wider burningBtn">Free Consultaion</button>
                </div>

				<div class="heroBtn">
                    <button class="btn font-semibold tracking-wider border-2 border-amber-600">Our Works</button>
                </div>
			</div>


		</div>
        <div class="w-1/2">
            <img class="glow transform -scale-x-100 m-auto" src="/images/hero.webp" alt="">
        </div>

		
	
	</div>


	<!-- Developed websites -->
	<p class="text-white text-5xl text-center font-extrabold mb-36" id="services">
		Developed and Deployed 
			<span class="text-procyon-pink italic burningText text-5xl">20+</span> 
		Websites
	</p>


	<!-- services -->
	<div class="grid h-30vw w-4/5 relative grid-cols-3 mx-auto gap-20 services-cont mb-40">

		<div class="w-2/12 absolute top-full -right-32 z-20" >
			<img src="/images/star.png" alt="" class="w-full relative glow2" id="star">
		</div>

		
			<ServicesCard
			name="Web Development"
			svg="/images/svg/computer.svg"
			path="/webdevelopment"
			/>
	
			<ServicesCard
				name="Graphic Design"
				svg="/images/svg/graphics.svg"
				path="/design"

			/>

			<ServicesCard
				name="Computer Repairs"
				svg="/images/svg/gear.svg"
				path='/repairs'

			/>

		<div class="w-4/12 absolute -top-2/4 -left-1/4 z-0 blur-sm rotate-45" >
			<img src="/images/yellow-planet.png" alt="" class="w-full relative" id="yellow-planet">
		</div>
		

	</div>

	<!-- ready to work with us -->
	<div class="w-full bg-procyon-highlight-purple h-min py-12 px-32">
		<div class="flex w-full bg-procyon-highlight-purple h-min justify-between mx-auto">
			<p class="text-white text-4xl text-center font-extrabold h-min">
				<span class="italic">Ready</span> to work with us?
			</p>
			<div class="">
				<button class="btn text-white font-semibold tracking-wider burningBtn h-min">Hire Us</button>
			</div>
		</div>
		
	</div>

	<!-- client testimonials -->

	<div class="my-32 mb-40">

		<p class="text-white text-5xl text-center font-extrabold mb-16">
			What Our Satisfied Clients Have To Say
		</p>
		<div class="grid h-30vw w-4/5 relative grid-cols-3 mx-auto gap-20 services-cont mb-20">

			<ClientTestimonial
				name="Sarah Thopmson"
				image="/images/client_img_1.jpeg"
				desc="Working with Procyon Web Development Company was an absolute pleasure! They were highly professional, skilled, and delivered exceptional results. We highly recommend Procyon Web Development Company for anyone looking for top-notch web development services."
			/>

			<ClientTestimonial
				name="Kevin McCallister"
				image="/images/client_img_2.jpeg"
				desc="From the moment we engaged them, their team demonstrated a deep understanding of our business goals and translated them into an exceptional website. We are extremely satisfied with the quality of their work and wouldn't hesitate to recommend Procyon Web Development Company to others."
			/>

			<ClientTestimonial
				name="Klarke Kent"
				image="/images/client_img_3.webp"
				desc="Choosing Procyon for our website development was one of the best decisions we made. Their team was not only highly skilled but also incredibly collaborative. We would wholeheartedly recommend them to anyone in need of top-quality web development services"
			/>
		

			<div class="w-6/12 absolute -bottom-2/4 -left-1/3 z-0 blur-sm rotate-45">
				<img src="/images/pink-planet.png" alt="" class="w-full relative" id='pink-planet'>
			</div>
		</div>

		

	</div>





</Base>

<script>
    import { gsap } from 'gsap';
    import { ScrollTrigger } from 'gsap/ScrollTrigger';
    gsap.registerPlugin(ScrollTrigger)
    const tl = gsap.timeline()

    tl.from('.word', {stagger: 0.25, opacity: 0, delay: 0.25, ease:"power2"});
    tl.from('.heroDescription', {  opacity: 0, duration: 0.25, ease:"power2"});
    tl.from('.heroBtn', {stagger: 0.2, y: 25 , opacity: 0, ease: "back.out(3)"});
    gsap.from(".service", {scrollTrigger: ".service", y: 100, opacity:0,  stagger: 0.25 });
    gsap.from(".testemonial", {scrollTrigger: ".testemonial", y: 100, opacity:0,  stagger: 0.25 });

	// parallax

	const yellowPlanet = document.getElementById("yellow-planet")
	const pinkPlanet = document.getElementById("pink-planet")
	const star = document.getElementById("star")


	window.addEventListener("scroll", function(){
    let value = window.scrollY;
	yellowPlanet.style.top = -value * 0.05 + "px"
	yellowPlanet.style.left = -value * 0.05 + "px"
	pinkPlanet.style.top = -value * 0.05 + "px"
	pinkPlanet.style.left = -value * 0.05 + "px"
	star.style.top = (-value - 470) * 0.08 + "px"
	


})



</script>



