---

import Base from "../layout/base.astro";
import "../style/main.css"

---

<Base title='Home'>


	<!-- landing -->
	<div class="bg-procyon-purple relative h-screen grid place-items-center text-center">

		<div class="h-screen absolute top-0">
			<img src="/bg/hero-bg.jpeg" alt="" class="opacity-50 h-full w-screen object-cover">
		</div>

		<div class="h-50v w-min text-white z-10 opacity-100 grid relative">
		
			<p class="h-min m-auto h1 text-6xl">We are <br> designers</p>
			<div class="flex h-min w-max mx-auto">


				<button class="btn">Web Deisgn</button>
				<button class="btn">Graphics</button>

			</div>

			<div class="absolute w-16 h-16 top-2/4 left-full">
		
				<svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute top-1/4 right-0">
					<path class="stroke-white" d="M12 3C12 7.97056 16.0294 12 21 12C16.0294 12 12 16.0294 12 21C12 16.0294 7.97056 12 3 12C7.97056 12 12 7.97056 12 3Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
				
				<svg width="35px" height="35px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path class="stroke-white" d="M12 3C12 7.97056 16.0294 12 21 12C16.0294 12 12 16.0294 12 21C12 16.0294 7.97056 12 3 12C7.97056 12 12 7.97056 12 3Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
				<svg width="27px" height="27px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute bottom-0.5 right-1/4">
					<path class="stroke-white" d="M12 3C12 7.97056 16.0294 12 21 12C16.0294 12 12 16.0294 12 21C12 16.0294 7.97056 12 3 12C7.97056 12 12 7.97056 12 3Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>

		</div>

		</div>

		
	
	</div>


	<!-- counter -->

	<div class="grid">

		<p>Our Numbers</p>
		<div class="flex">
		
			<div>
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
					</svg>
				</div>
				<div>
					<p>9</p>
				</div>
				<div>
					<p>Our Clients</p>
				</div>
			</div>
			
		</div>

	</div>


</Base>

