---
import Base from "../layout/base.astro";
import LegalHeros from "../components/legalHeros.astro";
import "../style/main.css"

---

<Base title="Privacy Policy">

    <LegalHeros
        name="Privacy Policy"
        path="/images/purple-planet.png"
        style="filter: drop-shadow(0px 0px 50px rgb(210, 190, 250))"
    />

<div class="bg-procyon-purple w-5/6 md:w-4/5 mx-auto">
    <p>Last updated: July 02, 2023</p>

    <p>This Privacy Policy describes how Procyon ("we," "our," or "us") collects, uses, shares, and protects personal information obtained from users ("you" or "users") of our website, mobile applications, and any other services we provide (collectively, the "Services"). We are committed to protecting your privacy and ensuring the security of your personal information. By accessing or using our Services, you agree to the terms of this Privacy Policy.</p>

    <h1 class="text-white text-xl md:text-3xl font mt-10 mb-5">Information We Collect</h1>

    <p>We may collect various types of information from you, including:</p>

    <ul class="text-secondary-color list-disc ml-5">
        <li>Personal Information: We may collect personal information, such as your name, email address, mailing address, phone number, and other contact details when you voluntarily provide them to us.</li>
        <li>Usage Information: We may automatically collect certain information about your use of our Services, such as your IP address, browser type, device identifier, operating system, and browsing activity.</li>
        <li>
        Cookies and Similar Technologies: We may use cookies, web beacons, and other similar technologies to collect information about your interaction with our Services, preferences, and browsing behavior.</li>
    </ul>

    <h1 class="text-white text-xl md:text-3xl font mt-10 mb-5">Use of Information</h1>

    <p>We may use the information we collect for the following purposes:</p>

    <ul class="text-secondary-color list-disc ml-5">
        <li>Provide and Improve Services: To provide, maintain, and improve our Services, personalize your experience, and develop new features.</li>
        <li>
        Communication: To communicate with you, respond to your inquiries, provide customer support, and send you service-related notifications.</li>
        <li>Marketing: To send you promotional materials, newsletters, and other marketing communications about our products and services, subject to your preferences.</li>
        <li>Analytics and Research: To analyze trends, track user activity, gather demographic information, and conduct research to improve our Services.</li>
        <li>Legal Compliance: To comply with applicable laws, regulations, legal processes, and enforce our rights.</li>
    </ul>

    <h1 class="text-white text-xl md:text-3xl font mt-10 mb-5">Information Sharing</h1>

    <p>We may share your personal information in the following circumstances:</p>

    <ul class="text-secondary-color list-disc ml-5"> 
        <li>Service Providers: We may engage third-party service providers to perform certain functions on our behalf, such as hosting, payment processing, data analysis, and customer service. These providers will have access to your personal information only as necessary to perform their services.

        </li>
        <li>Business Transfers: In the event of a merger, acquisition, or sale of all or a portion of our assets, your personal information may be transferred to the acquiring entity.</li>
        <li>Legal Requirements: We may disclose your personal information if required to do so by law or in response to a valid request from a governmental authority.</li>
        <li>Your Consent: We may share your information with your consent or at your direction.</li>
    </ul>

    
    <h1 class="text-white text-xl md:text-3xl font mt-10 mb-5">Data Security</h1>
    <p>We take reasonable measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction. However, no data transmission over the internet or electronic storage method is 100% secure. Therefore, we cannot guarantee absolute security of your information.</p>

     <h1 class="text-white text-xl md:text-3xl font mt-10 mb-5">Your Choices</h1>
     <p>You may update or correct your personal information by contacting us using the information provided at the end of this policy. You can also unsubscribe from marketing communications by following the instructions provided in the email or contacting us.</p>

    <h1 class="text-white text-xl md:text-3xl font mt-10 mb-5">Third Party Links</h1>

    <p>Our Services may contain links to third-party websites or services that are not owned or controlled by us. We are not responsible for the privacy practices of these third parties. We encourage you to review the privacy policies of these third parties before providing any personal information.

</p>

<h1 class="text-white text-xl md:text-3xl font mt-10 mb-5">Children's Privacy</h1>
<p>Our Services are not intended for children under the age of 13. We do not knowingly collect personal information from children under 13. If we become aware that we have collected personal information from a child under 13 without parental consent, we will take steps to remove that information from our servers.</p>

<h1 class="text-white text-xl md:text-3xl font mt-10 mb-5">Changes to this Privacy Policy</h1>

<p>We may update this Privacy Policy from time to time to reflect changes in our practices or applicable laws. We will notify you of any material changes by posting the updated Privacy Policy on our website or through other communication methods.</p>

<h1 class="text-white text-xl md:text-3xl font mt-10 mb-5">Contact Us</h1>

<p class="mb-20">If you have any questions, concerns, or requests regarding this Privacy Policy or our privacy practices, please contact us at rudrprasad@yahoo.com.</p>




</div>
    
</Base>

<style>

p{
    color: #C4B5FD;
}

.glow {
    -webkit-filter: drop-shadow(0px 0px 50px #FF914D);
    filter: drop-shadow(0px 0px 50px #FF914D);
  }

  h1 {
    font-weight: bolder;
}

</style>