---
import Base from "../layout/empty.astro";
import "../style/main.css"
---

<Base 
title='Message Sucessfully Sent!'
description="Congratulations! Your message has been successfully sent. Thank you for reaching out to us. We appreciate your interest and will get back to you as soon as possible."
keywords="message sent, success message, contact form submission, successful communication"
>
    <main class="bg-procyon-purple h-100v relative flex flex-col items-center justify-center text-white">

        <img src="/images/satelite.webp" alt="" class="float w-3/4 md:w-1/5 glowufo mb-10 -rotate-90">
        <h1 class="text-4xl font-extrabold italic tracking-wider text-center p-2">Your Message Was Successfully Sent</h1>

    </main>

</Base>

