---
import Base from "../layout/base.astro";
import "../style/main.css"

import OfferCard from "../components/offerCard.astro";
import Prices from "../components/prices.astro";
import HowItWorks from "../components/howItWorks.astro";
---

<Base title="Web Development">


    <!-- landing -->
    <div class="relative h-90v flex flex-row items-center justify-center m-auto w-4/5">

		<div class="w-1/2 text-white z-10 opacity-100 flex flex-col justify-center relative">
			<p class="h-min font-extrabold italic text-6xl pb-5">
                <span class="word">Create</span> 
                <span class="word">a</span> 
                <span class="word">Web</span> <br>
                <span class="word">Presence</span>
                <span class="word">that's</span> <br>
                <span class="word">Truly</span>
                <span class="word">Stellar</span>
                
            </p>
			<div class="flex h-min w-max">
				<div class="heroBtn">
                    <button class="btn font-semibold tracking-wider burningBtn">Pricing</button>
                </div>

				<div class="heroBtn">
                    <button class="btn font-semibold tracking-wider border-2 border-amber-600">Features</button>
                </div>
			</div>


		</div>
        <div class="w-1/2">
            <img class="transform -scale-x-100 m-auto" src="/images/astronaut.png" alt="">
        </div>

		
	
	</div>

    <!-- services -->
    <p class="text-white text-5xl text-center font-extrabold mb-16">
        What We Have to Offer
    </p>
    <div class="grid h-30vw w-4/5 relative grid-cols-3 mx-auto gap-20 services-cont mb-40"> 

        <div class="w-6/12 absolute top-2/5 -left-1/3 z-0 blur-sm rotate-45">
			<img src="/images/orange-planet.png" alt="" class="w-full">
		</div>
		
        <OfferCard
            name="WordPress"
            svg="/images/svg/write.svg"
            desc="Unleash the power of WordPress for your online presence! Our expert team specializes in crafting stunning, feature-rich WordPress websites"
        />

        <OfferCard
            name="User Authentication"
            svg="/images/svg/user.svg"
            desc="Ensure top-notch security with SSL certificates and user authentication on your website with our robust solutions. Safeguard sensitive data and protect user accounts from unauthorized access. "
        />
       
        <OfferCard
            name="Database & Hosting"
            svg="/images/svg/data.svg"
            desc="Unlock the power of streamlined performance with our cutting-edge database and hosting solutions. Seamlessly store and retrieve data, ensuring lightning-fast access to vital information."
        />

        <OfferCard
            name="E-Commerce"
            svg="/images/svg/creditCard.svg"
            desc="Step into the world of e-commerce success with our comprehensive solutions. Our expert team will help you build a powerful online store that drives sales and maximizes revenue."
        />
        <OfferCard
            name="Custom Solution"
            svg="/images/svg/custom.svg"
            desc="Experience the ultimate in website customization with our bespoke solutions. Our dedicated team will work closely with you to understand your unique requirements and bring your vision to life"
        />
        

         <OfferCard
            name="Lighting Fast"
            svg="/images/svg/bolt.svg"
            desc="Experience the speed and responsiveness you've been waiting for! Our websites are optimized for lightning-fast performance, ensuring swift loading times and seamless user interactions for any device"
        />


        
    </div>

    <div class="relative mb-40">
    
        <p class="text-white text-5xl text-center font-extrabold mb-16">
            Our Prices
        </p>

        <Prices 
            bundle="Nebula"
            price="$350"

            Feature1="Basic Website"
            Feature2="3 - 5 Pages"
            Feature3="1 Day Delivery"

            Tech1="Wordpress"
            Tech2="Custom"
            Tech3="Mobile Compatible"

            Use1="Portfolio"
            Use2="Small Business"
            Use3="Event Promos"
        />

        <Prices 
            bundle="Cosmic"
            price="$700"

            Feature1="Premium Website"
            Feature2="10-15 Pages"
            Feature3="1 Week Delivery"

            Tech1="Custom"
            Tech2="Content Manager"
            Tech3="Admin Panel"

            Use1="Company Website"
            Use2="Blog"
            Use3="Product Pages"
        />

        <Prices 
            bundle="Galactic"
            price="$1500"

            Feature1="Ultimate Website"
            Feature2="20 - 40 Pages"
            Feature3="2 - 3 Weeks Delivery"

            Tech1="Custom"
            Tech2="User Athentication"
            Tech3="Database Connection"

            Use1="Ecommerce"
            Use2="Company Website"
            Use3="Banking Systems"
        />

         <div class="w-4/12 absolute top-32 -right-16 -z-10 blur-sm -rotate-45">
			<img src="/images/blue-planet.png" alt="" class="w-full z-0">
		</div>

    </div>
    
    <p class="text-white text-5xl text-center font-extrabold mb-16">
        How it Works
    </p>
    <div class="grid h-30vw w-4/5 relative grid-cols-3 mx-auto gap-20 services-cont mb-40">
        <div class="w-5/12 absolute top-1/3 -left-1/4 z-0 blur-sm rotate-45">
			<img src="/images/red-planet.png" alt="" class="w-full">
		</div>

        <HowItWorks
            number="01"
            name="Planning"
            desc=" During the planning phase, we will understand you goals, requirements, and target audience. Next we'll present our design for your approval. Once you fall in love with it, we'll seamlessly progress to the next stage, turning your dreams into reality"
        />
        <HowItWorks
            number="02"
            name="Designing"
        />
        <HowItWorks
            number="03"
            name="Deposit"
        />
        <HowItWorks
            number="04"
            name="Development"
        />
        <HowItWorks
            number="05"
            name="Final Touches"
        />
        <HowItWorks
            number="06"
            name="Final Payment"
        />
    </div>


</Base>

<script>
    import { gsap } from 'gsap';
    import { ScrollTrigger } from 'gsap/ScrollTrigger';
    gsap.registerPlugin(ScrollTrigger)
    const tl = gsap.timeline()

   
    gsap.from(".offer", {scrollTrigger: ".offer", y: 100, opacity:0,  stagger: 0.3 });
    gsap.from(".prices", {scrollTrigger: ".prices", y: 100, opacity:0,  stagger: 0.3 });
    gsap.from(".works", {scrollTrigger: ".works", y: 100, opacity:0,  stagger: 0.3 });
</script>