---
import Base from "../layout/base.astro";
import "../style/main.css"

import OfferCard from "../components/offerCard.astro";
import Prices from "../components/prices.astro";
import HowItWorks from "../components/howItWorks.astro";
import OurWorks from "../components/OurWorks.astro";
import OurWorksSm from "../components/OurWorksSm.astro";
---

<Base
 title="Web Development"
 description="Unlock the Potential of Your Online Presence with Professional Web Development Services. Our team specializes in crafting customized websites that are visually stunning!"
 keywords="web development, website development, web design, custom web development"

 >



    <!-- landing -->
    <div class="relative h-screen pt-12 flex flex-col md:flex-row items-center justify-evenly m-auto w-full md:w-4/5 hero">

        
		<div class="w-11/12 md:w-1/2 text-white z-10 opacity-100 flex flex-col justify-center relative">
			<p class="h-min font-extrabold italic text-3xl md:text-6xl pb-5 text-center md:text-left">
                <span class="word">Create</span> 
                <span class="word">a</span> 
                <span class="word">Web</span> <br>
                <span class="word">Presence</span>
                <span class="word">that's</span> <br>
                <span class="word">Truly</span>
                <span class="word">Stellar</span>
                
            </p>
			<div class="flex justify-between h-min w-full md:w-min">
				<div class="heroBtn mr-5 w-1/2">
                    <button class="w-full btn font-semibold tracking-wider burningBtn">Pricing</button>
                </div>

				<div class="heroBtn w-1/2">
                    <button class="w-full btn font-semibold tracking-wider border-2 border-amber-600">Features</button>
                </div>
			</div>


		</div>
        <div class="w-full md:w-1/2 relative" id="ast-div">
            <img alt="a planet" class="w-2/3 m-auto relative" src="/images/rocket.png" alt="an astronaut" id="ast">
        </div>

		
	
	</div>

    <!-- services -->
    <p class="text-white text-3xl md:text-5xl text-center font-extrabold mb-10" id="services">
        What We Have to Offer
    </p>
    <div class="grid h-30vw w-5/6 md:w-4/5 relative grid-cols-1 md:grid-cols-3 mx-auto gap-10 services-cont mb-28">

        <div class="planet w-full md:w-1/2 absolute -top-2/5 -left-1/3 z-0 blur-sm rotate-45">
			<img loading="lazy" src="/images/orange-planet.png" alt="a planet" class="w-full relative opacity-0" id="orange-planet">
		</div>
		
            
        <OfferCard
            name="WordPress"
            svg="/images/svg/write.svg"
            desc="Unleash the power of WordPress for your online presence! Our expert team specializes in crafting stunning, feature-rich WordPress websites"
        />
        <OfferCard
            name="User Authentication"
            svg="/images/svg/user.svg"
            desc="Ensure top-notch security with SSL certificates and user authentication on your website with our robust solutions. Safeguard sensitive data and protect user accounts from unauthorized access. "
        />
        <OfferCard
            name="Database & Hosting"
            svg="/images/svg/data.svg"
            desc="Unlock the power of streamlined performance with our cutting-edge database and hosting solutions. Seamlessly store and retrieve data, ensuring lightning-fast access to vital information."
        />
        <OfferCard
            name="E-Commerce"
            svg="/images/svg/creditCard.svg"
            desc="Step into the world of e-commerce success with our comprehensive solutions. Our expert team will help you build a powerful online store that drives sales and maximizes revenue."
        />
        <OfferCard
            name="Custom Solution"
            svg="/images/svg/custom.svg"
            desc="Experience the ultimate in website customization with our bespoke solutions. Our dedicated team will work closely with you to understand your unique requirements and bring your vision to life"
        />
        <OfferCard
        name="Lighting Fast"
        svg="/images/svg/bolt.svg"
        desc="Experience the speed and responsiveness you've been waiting for! Our websites are optimized for lightning-fast performance, ensuring swift loading times and seamless user interactions for any device"
        /> 
    </div>

    <!-- prices -->

    <div class="relative">
    
		<p class="text-white text-3xl md:text-5xl text-center font-extrabold mb-10">
            Our Prices
        </p>

        <div class="w-4/12 absolute -top-20 -right-16 z-0 blur-sm ">
			<img alt="a planet" src="/images/blue-planet.png" alt="" class="w-full z-0 relative glow-blue" id="blue-planet">
		</div>

        <Prices 
            bundle="Nebula"
            price="$350"

            Feature1="Basic Website"
            Feature2="3 - 5 Pages"
            Feature3="1 Day Delivery"

            Tech1="Wordpress"
            Tech2="Custom"
            Tech3="Mobile Compatible"

            Use1="Portfolio"
            Use2="Small Business"
            Use3="Event Promos"
        />

        <Prices 
            bundle="Cosmic"
            price="$700"

            Feature1="Premium Website"
            Feature2="10-15 Pages"
            Feature3="1 Week Delivery"

            Tech1="Custom"
            Tech2="Content Manager"
            Tech3="Admin Panel"

            Use1="Company Website"
            Use2="Blog"
            Use3="Product Pages"
        />

        <Prices 
            bundle="Galactic"
            price="$1500"

            Feature1="Ultimate Website"
            Feature2="20 - 40 Pages"
            Feature3="2 - 3 Weeks Delivery"

            Tech1="Custom"
            Tech2="User Athentication"
            Tech3="Database Connection"

            Use1="Ecommerce"
            Use2="Company Website"
            Use3="Banking Systems"
        />

    </div>

    <div class="w-4/5 flex mt-10 mb-10 md:mb-28 mx-auto" id='ourwork'>
        
            <p class="italic text-secondary-color  ml-auto">
                These are base prices and may be subject to change
            </p>
            
    </div>

    <p id="" class="text-white text-3xl md:text-5xl text-center font-extrabold mb-10" >
        Our Websites
    </p>

    <div class= "hidden md:block w-3/5 mx-auto mb-28 relative" >
        <div  role="status" id="daddy" class=" hidden md:flex daddy relative">

        <OurWorks 
            name="MC Tech Fiji"
            type="Cosmic"
            link="https://mctechfiji.com/"
            img="/images/w7.avif"
        />
        <OurWorks 
            name="Codeology.net"
            type="Galactic"
            link="https://codeology.net/"
            img="/images/w1.jpg"
        />
        
        <OurWorks 
            name="Jai Narayan College"
            type="Cosmic"
            link="https://jncollege.netlify.app/"
            img="/images/w2.jpg"
        />
        <OurWorks 
            name="Kants Rentals"
            type="Galactic"
            link="https://kantsrentals.netlify.app/"
            img="/images/w3.jpg"
        />
        <OurWorks 
            name="Computer 1"
            type="Cosmic"
            link="https://computerone.netlify.app/"
            img="/images/w4.jpg"
        />
        <OurWorks 
            name="Bismuth Web Dev"
            type="Galactic"
            link="https://bismuthweb.netlify.app/"
            img="/images/w5.jpg"
        />
        <OurWorks 
            name="Personal Portfolio"
            type="Nebula"
            link=""
            img="/images/w6.jpg"
        />
    </div>
</div>

<div class="block md:hidden w-5/6 m-auto">
    <OurWorksSm
    link=""
    img="/images/w1.jpg"
    />
    <OurWorksSm
    link=""
    img="/images/w2.jpg"
    />
    <OurWorksSm
    link=""
    img="/images/w3.jpg"
    />
    <OurWorksSm
    link=""
    img="/images/w4.jpg"
    />
    <OurWorksSm
    link=""
    img="/images/w5.jpg"
    />
    <OurWorksSm
    link=""
    img="/images/w6.jpg"
    />
</div>

    <p class="text-white text-3xl md:text-5xl text-center font-extrabold mb-10">
        How it Works

       
        
    </p>

    <div class="grid h-30vw w-5/6 md:w-4/5 relative grid-cols-1 md:grid-cols-3 mx-auto gap-10 services-cont mb-6">
        
         <div class="w-2/3 md:w-4/12 absolute -top-[80rem] -left-1/4 z-0 blur-sm">
			<img alt="a planet" src="/images/red-planet.png" alt="" class="w-full relative glow-red" id="red-planet">
		</div>
        <HowItWorks
            number="01"
            name="Planning"
            desc=" During the planning phase, we will understand you goals, requirements, and target audience. This involves conducting research, gathering information, and defining the project scope, objectives, and timelines. The firm may also create a project roadmap and identify the necessary resources and technologies"
        />
        <HowItWorks
            number="02"
            name="Designing"
            desc=" In the designing phase, we'll focus on creating the visual and functional aspects of the website or web application.We'll work closely with you to develop a captivating and user-friendly design that aligns with the your brand identity"
        />
        <HowItWorks
            number="03"
            name="Deposit"
            desc="After the design phase, you will provide a deposit or an upfront payment of 25% to initiate the development process. This payment ensures commitment from both parties and helps cover initial expenses, such as resource allocation and project setup"
        />
        <HowItWorks
            number="04"
            name="Development"
            desc="In the development phase, we'll bring the approved design to life by implementing the technical elements of the website or web application. We'll use programming languages, frameworks, and content management systems to build the required functionality, integrate databases, and ensure cross-browser compatibility. "
        />
        <HowItWorks
            number="05"
            name="Final Touches"
            desc="Once the development phase is complete, we'll focus on optimizing the website or web application for performance, speed, and user experience. We'll conduct thorough testing, identify and fix any bugs or errors, and optimize the code, images, and other assets to ensure efficient loading times and smooth functionality."
        />
        <HowItWorks
            number="06"
            name="Final Payment"
            desc="Upon successful completion of the development and optimization phases, the client is required to make the final payment to the web development firm. This payment confirms the acceptance of the completed work and enables the transfer of ownership"
        />
        
    </div>
    <div class="w-4/5 flex mt-10 mb-10 md:mb-28 mx-auto">
        <a href="/terms" class="flex items-center ml-auto text-white" >
            <p>
                Learn more
            </p>
            <span class="ml-2">
                <img src="/images/svg/right-arrow.svg" alt="" class="w-6 h-6">
            </span>
        </a>
    </div>

   
    

</Base>

<style>

    .glow-yellow{
        -webkit-filter: drop-shadow(0px 0px 50px rgb(220, 170, 90));
        filter: drop-shadow(0px 0px 50px rgb(220, 230, 90));
    }

    .glow-blue{
        -webkit-filter: drop-shadow(0px 0px 50px rgb(130, 200, 240));
        filter: drop-shadow(0px 0px 50px rgb(130, 200, 240));
    }

    .glow-red{
        -webkit-filter: drop-shadow(0px 0px 50px rgb(130, 200, 240));
        filter: drop-shadow(0px 0px 50px rgb(190, 70, 60));
    }

</style>

<style>
     .daddy {
        width: calc(600% + 300px);
        height: 100%;
    }
</style>

<script>
    import { gsap } from 'gsap';
    import { ScrollTrigger } from 'gsap/ScrollTrigger';
    gsap.registerPlugin(ScrollTrigger)
    const tl = gsap.timeline()

   
    gsap.from(".offer", {scrollTrigger: ".offer", y: 100, opacity:0,  stagger: 0.3 });
    gsap.from(".prices", {scrollTrigger: ".prices", y: 100, opacity:0,  stagger: 0.3 });
    gsap.from(".works", {scrollTrigger: ".works", y: 100, opacity:0,  stagger: 0.3 });

    let sections = gsap.utils.toArray(".panel");
    gsap.to(sections, {
    xPercent: -100 * (sections.length - 0.75),
    ease: "none",
    scrollTrigger: {
        trigger: ".daddy",
        pin: true,
        start: "-50px",
        scrub: 0.5,
        // snap: 1 / (sections.length - 0.75),
        end: () => "+=" + document.getElementById("daddy").offsetWidth
    }
});

    const orangePlanet = document.getElementById('orange-planet')
    const bluePlanet = document.getElementById('blue-planet')
    const redPlanet = document.getElementById('red-planet')
    const ast = document.getElementById("ast")
    const astDiv = document.getElementById("ast-div")

    window.addEventListener("scroll", function(){

        let value = window.scrollY;
        orangePlanet.style.top = value * 0.15 + "px"
        orangePlanet.style.left = value * 0.15 + "px"
        
        bluePlanet.style.top = (value * 0.15) + "px"
        
        redPlanet.style.top = (value * 0.15) + "px"
        
       
        astDiv.style.transform = `translateX(${value * 0.5}px`
        ast.style.transform = `translateY(${-value * 0.2}px) `
       
    })
</script>


