/* Google font imports to see which fits best  */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@tailwind components;
@tailwind utilities;
@tailwind base;

@layer base {

    .star{
        @apply stroke-procyon-pink;
    }

    .btn{
        @apply opacity-100 py-2 px-6 rounded-3xl transition duration-200 ease-linear
    }

    .counter-svg{
      @apply w-10 h-10 stroke-white
    }

    .titles{
      @apply h1 text-3xl my-5 w-full text-center text-white
    }

    .services-cards{
        @apply relative  rounded-md bg-procyon-highlight-purple p-3 overflow-clip border border-purple-500
    }

    .service-card-img{
        @apply w-8 h-8
    }

    .footer-p{
        @apply mb-1
    }

    .circle-designs{
        @apply p-2.5 border-solid border-2 border-secondary-color-2 aspect-square rounded-full h-full
    }

}

:root {
    --procyon-highlight-purple: #6B21A8;
    --secondary-color: #C4B5FD;
    --secondary-color-2: #9333EA;
}

*{
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

.burningBtn {
    background-image: linear-gradient(to right, #FF3131 , #FF914D);
}


.btn:hover {
    box-shadow: 0 0 10px #FF914D;
    background-color: #fc8236;
}

.burningText {
    background-image: linear-gradient(to right, #FF3131 , #FF914D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Custom font imports */

@font-face {
    font-family: 'SpaceExplorer';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/SPACE_EXPLORER.ttf") format('truetype');
  }

@font-face {
    font-family: 'Skygraze';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Skygraze-PKYod.ttf") format('truetype');
  }

@font-face {
    font-family: 'GrahamPotta';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/GrahamPottaFreePersonalUse-MVR1P.otf") format('opentype');
  }

body {
    background-color: #3b0764;
    overflow: hidden;
}


.h1 {
    /* font-family: "GrahamPotta"; */
    /* font-family: "SpaceExplorer"; */
    font-family: "Skygraze";
}

.lift {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Custom Scrollbar */

::-webkit-scrollbar {
    width: 6px;
}


::-webkit-scrollbar-track {
    background: #3b0764;
}


::-webkit-scrollbar-thumb {
    background:#581c87;
    border-radius: 4px;
}


::-webkit-scrollbar-thumb:hover {
    background: #6b21a8;        
}

.glow {
    -webkit-filter: drop-shadow(0px 0px 50px #FF914D);
    filter: drop-shadow(0px 0px 50px #FF914D);
  }

.glow2 {
    -webkit-filter: drop-shadow(0px 0px 50px #c800ffca);
    filter: drop-shadow(0px 0px 50px #c800ffca);
  }

  .glow3 {
    -webkit-filter: drop-shadow(0px 0px 10px rgb(220, 170, 90));
    filter: drop-shadow(0px 0px 10px rgb(220, 230, 90));
  }

  .glow3 {
    -webkit-filter: drop-shadow(0px 0px 10px rgb(200, 200, 200));
    filter: drop-shadow(0px 0px 10px rgb(200, 200, 200));
  }
  .glow4 {
    -webkit-filter: drop-shadow(0px 0px 10px rgb(220, 170, 90));
    filter: drop-shadow(0px 0px 10px rgb(255, 75, 240));
  }
  .glowufo{
    -webkit-filter: drop-shadow(0px 0px 10px rgba(162, 0, 255, 0.575));
    filter: drop-shadow(0px 0px 10px rgba(162, 0, 255, 0.575));

  }

  .float {
	animation: float 6s ease-in-out infinite;
  }

  .second {
    transition-delay: 31.5;
}

  @keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.planet > img {
    transition: opacity .5s ease;
}

.loaded.planet > img {
    opacity: 1 !important;
}

