---

const {name, image} = Astro.props

---

<div class="services-cards z-10">
    <div class="absolute rotate-180 m-3">
        <img src="/images/svg/quote-marks.svg" alt="" class="w-8 h-8">
    </div>
    <p class="text-white text-2xl font-extrabold h-min my-auto">
        {name}
    </p>
    
   <div class="h-24 w-24 mt-auto ml-auto relative rounded-full overflow-clip">
        <img src={image} alt="" class="object-contain">
    </div>
</div>