<footer class="w-4/5 bg-procyon-highlight-purple mx-auto justify-between pr-96 flex text-sm text-secondary-color p-5 rounded-md relative border border-purple-500">

    <div class="">
        <p class="text-xl text-white mb-1">Quick Links</p>
        
        <a href="/webdevelopment">
            <p class="footer-p">Web Development</p>
        </a>
        <a href="/graphics">
            <p class="footer-p">Graphic Design</p>
        </a>
        <a href="/repairs">
           <p class="footer-p">Computer Repairs</p>
        </a>
       
    </div>
    <div class="">
        <p class="text-xl text-white mb-1">Legal</p>
        
        <a href="">
            <p class="footer-p">Disclaimer</p>
        </a>
        <a href="">
            <p class="footer-p">Privacy Policy</p>
        </a>
        <a href="">
           <p class="footer-p">Terms and Conditions</p>
        </a>
       
    </div>
    <div class="">
        <p class="text-xl text-white mb-1">Contact</p>
        
        <a href="">
            <p class="footer-p">Email</p>
        </a>
        <a href="">
            <p class="footer-p">Phone</p>
        </a>
        <a href="">
           <p class="footer-p">Instagram</p>
        </a>
       
    </div>
</footer>



<div class="text-secondary-color  text-center text-base p-5 relative">
    <p>
    © 2023 Copyright | Procyon
    </p>
    <div class="absolute -scale-x-100 bottom-0 right-32 w-1/5 z-10">
        <img src="/images/satelite.png" alt="" class="w-full">
    </div>
</div>