---
import CircleDesigns from "./circleDesigns.astro";
const {name, number, desc} = Astro.props

---

<style>
    .outline-text{
        color: black;
        -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #C4B5FD;
    }

</style>

<div class="services-cards testemonial z-10 ">
    <p class="text-4xl outline-text font-extralight tracking-wider ">
        {number}
    </p>
    <p class="text-white text-2xl font-extrabold h-min">
        {name}
    </p>
    <p class="grow z-10 text-secondary-color">
        {desc}
    </p>
    
    <CircleDesigns></CircleDesigns>
</div>