---
import CircleDesigns from "./circleDesigns.astro";
const {name, svg, desc} = Astro.props

---

<div class="services-cards service z-10 offer">
    <div class="">
        <img src={svg} alt="" class="w-8 h-8 ">
    </div>
    <p class="text-white text-2xl font-extrabold h-min mb-2">
        {name}
    </p>
    <p class=" z-10 text-secondary-color grow text-base leading-6">
        {desc}
    </p>
    
    <CircleDesigns></CircleDesigns>
</div>

