---
const { name, type, img, link } = Astro.props;
---

<div class="panelSm rounded-md border border-purple-500 overflow-hidden relative mb-10 z-10">
  <div class="absolute top-0 title left-0 p-2 opacity-0">    
    <a href={link}><button class="btn border-2 border-purple-500  text-purple-300">Preview</button></a>
  </div>
  <img
    loading="lazy"
    src={img}
    alt=""
    class="h-full w-full object-cover opacity-0"
  />
  <div
    class="animate-pulse loader absolute top-0 left-0 flex items-center justify-center w-full h-full bg-purple-700"
  >
    <svg
      class="w-12 h-12 text-gray-200"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
      fill="white"
      viewBox="0 0 640 512"
      ><path
        d="M480 80C480 35.82 515.8 0 560 0C604.2 0 640 35.82 640 80C640 124.2 604.2 160 560 160C515.8 160 480 124.2 480 80zM0 456.1C0 445.6 2.964 435.3 8.551 426.4L225.3 81.01C231.9 70.42 243.5 64 256 64C268.5 64 280.1 70.42 286.8 81.01L412.7 281.7L460.9 202.7C464.1 196.1 472.2 192 480 192C487.8 192 495 196.1 499.1 202.7L631.1 419.1C636.9 428.6 640 439.7 640 450.9C640 484.6 612.6 512 578.9 512H55.91C25.03 512 .0006 486.1 .0006 456.1L0 456.1z"
      ></path></svg
    >
  </div>
</div>

<style>
  .panelSm {
    width: 100%;
    height: 200px;
    margin-right: 50px;
  }

  .panelSm.loaded > img {
    opacity: 1;
    width: 100%;
  }

  .panelSm.loaded > .title {
    opacity: 1;
  }

  .panelSm.loaded > .loader {
    display: none;
  }

</style>

<script>
  const blurDiv = document.querySelectorAll(".panelSm");
  blurDiv.forEach((div) => {
    const img = div.querySelector("img");
    function loaded() {
      div.classList.add("loaded");
    }

    if (img.complete) {
      loaded();
    } else {
      img.addEventListener("load", loaded);
    }
  });
</script>
