<style>


 .slider_main_cont{
   
    
 }

.sliderHolder:hover .slider img {
    filter: grayscale(0);
 }


 .sliderHolder {
    padding: 40px 0px;
    display: flex;
    width: fit-content;
    
    
 }





</style>

<div class='slider_cont w-full mb-40'>
    <div class="w-4/5 bg-procyon-highlight-purple h-40 mx-auto aspect-square">

        <div class="absolute p-5">
            <p class="text-2xl text-white">Codology.net</p>
            <p class="text-lg text-secondary-color">Cosmic Website</p>
            
            <button class="py-1 px-8 border-solid border-2 border-secondary-color rounded-full mt-2 text-secondary-color">View</button>
          
        </div>
   

    </div>
</div>