---
import Footer from "../components/footer.astro";
import Nav from "../components/nav.astro";
const { title, description, keywords } = Astro.props
---

<html lang="en" class="overflow-x-clip bg-procyon-purple">

    <head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta name="description" content={description}>
        <meta name="keywords" content={keywords}>
        <link rel="icon" type="image/x-icon" href="/images/fav.png">
		<title>{title}</title>
	</head>
    <Nav />
    
	<slot />
    
    <Footer/>
    <script src="../scripts/load.js"></script>

</html>