---

import Footer from "../components/footer.astro";
import Nav from "../components/nav.astro";
const { title } = Astro.props

---
<html class="overflow-x-clip bg-procyon-purple">

    <head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
    <Nav />
    
	<slot />
    
    <Footer/>

</html>