---
const { title, description, keywords } = Astro.props
---

<html lang="en" class="overflow-x-clip">

    <head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta name="description" content={description}>
        <meta name="keywords" content={keywords}>
        <link rel="icon" type="image/svg+xml" href="/images/fav.png">		
		<title>{title}</title>
	</head>

    
	<slot />
    

</html>